.map-node{
    height: 39rem;
    margin-bottom: -1rem;
}

.marker {
    width: 1.25rem;
    height: 1.25rem;
    background-color: orangered;
    border-radius: 100%;
    opacity: 0.6;
    cursor: pointer;
}

